extends _inc

block article
  section.slider
    .owl-carousel.slider-carousel.owl-theme
      .item
        a(href='chi-tiet-san-pham.html')
          img(src='../img/slider-1.png')
      
      .item
        a(href='chi-tiet-san-pham.html')
          img(src='../img/slider-1.png')

  section.service-bonus.d-none.d-md-block
    .container
      .row
        .col
          .box-service-bonus
            img(src='../img/service-bonus-1.png')
            h4 Bán hàng chính hàng giá rẻ
            h5 Our store operates worldwide and you can free delivery of all orders
        .col
          .box-service-bonus
            img(src='../img/service-bonus-2.png')
            h4 Bảo hành dài hạn
            h5 Our store operates worldwide and you can free delivery of all orders
        .col
          .box-service-bonus
            img(src='../img/service-bonus-3.png')
            h4 Phục vụ tận tình, chuyên nghiệp
            h5 Our store operates worldwide and you can free delivery of all orders
        
  section.category-home.d-none.d-lg-block
    .container
      .box-category
        span(style="background-image: url('../img/cate-1.png')")
        .box-category-detail
          h1 Dịch vụ vệ sinh công nghiệp
          a(href='dich-vu-ve-sinh-cong-nghiep.html') Xem thêm
      .box-category
        span(style="background-image: url('../img/cate-2.png')")
        .box-category-detail
          h1 Máy vệ sinh công nghiệp
          a(href='san-pham.html') Xem thêm
      .box-category
        span(style="background-image: url('../img/cate-3.png')")
        .box-category-detail
          h1 Hóa chất công nghiệp
          a(href='hoa-cha-cha-san.html') Xem thêm
      

  section.service
    .container
      .title-page
        h1 
          a DỊCH VỤ VỆ SINH CÔNG NGHIỆP

      .service-zone
        .box-service
          .box-service-img
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
          .box-service-detail
            h4 
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html', title="Báo giá đánh bóng sàn bê tông")
                | Báo giá đánh bóng sàn bê tông
            h5 Some quick example text to build on the card title and make up the bulk of the card's content.
            .box-service-detail-btn
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                i.mdi.mdi-chevron-right
          .box-service-order
            a(href='lien-he.html') LIÊN HỆ ĐẶT DỊCH VỤ ngay
        
        .box-service
          .box-service-img
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
          .box-service-detail
            h4 
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html', title="Báo giá đánh bóng sàn bê tông")
                | Báo giá đánh bóng sàn bê tông
            h5 Some quick example text to build on the card title and make up the bulk of the card's content.
            .box-service-detail-btn
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                i.mdi.mdi-chevron-right
          .box-service-order
            a(href='lien-he.html') LIÊN HỆ ĐẶT DỊCH VỤ ngay
        
        .box-service
          .box-service-img
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
          .box-service-detail
            h4 
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html', title="Báo giá đánh bóng sàn bê tông")
                | Báo giá đánh bóng sàn bê tông
            h5 Some quick example text to build on the card title and make up the bulk of the card's content.
            .box-service-detail-btn
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                i.mdi.mdi-chevron-right
          .box-service-order
            a(href='lien-he.html') LIÊN HỆ ĐẶT DỊCH VỤ ngay
        
        .box-service
          .box-service-img
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
          .box-service-detail
            h4 
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html', title="Báo giá đánh bóng sàn bê tông")
                | Báo giá đánh bóng sàn bê tông
            h5 Some quick example text to build on the card title and make up the bulk of the card's content.
            .box-service-detail-btn
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                i.mdi.mdi-chevron-right
          .box-service-order
            a(href='lien-he.html') LIÊN HỆ ĐẶT DỊCH VỤ ngay
        
        .box-service
          .box-service-img
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
          .box-service-detail
            h4 
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html', title="Báo giá đánh bóng sàn bê tông")
                | Báo giá đánh bóng sàn bê tông
            h5 Some quick example text to build on the card title and make up the bulk of the card's content.
            .box-service-detail-btn
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                i.mdi.mdi-chevron-right
          .box-service-order
            a(href='lien-he.html') LIÊN HỆ ĐẶT DỊCH VỤ ngay
        
        .box-service
          .box-service-img
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
          .box-service-detail
            h4 
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html', title="Báo giá đánh bóng sàn bê tông")
                | Báo giá đánh bóng sàn bê tông
            h5 Some quick example text to build on the card title and make up the bulk of the card's content.
            .box-service-detail-btn
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                i.mdi.mdi-chevron-right
          .box-service-order
            a(href='lien-he.html') LIÊN HỆ ĐẶT DỊCH VỤ ngay
        
      .service-all
        a(href='dich-vu-ve-sinh-cong-nghiep.html') Xem tất cả dịch vụ

  section.aboutus
    .container
      .box-aboutus
        h2 VỆ SINH HOÀNG GIA
        h5 Nhằm đảm bảo một môi trường làm việc trong lành sạch sẽ, thoáng mát, hiện đại. Với phương thức cung cấp dịch vụ với giá cả hợp lý, đội ngũ nhân viên chuyên nghiệp lành nghề cộng với máy móc thiết bị chuyên dùng hiện đại, Hoàng gia luôn sẵn sàng đáp ứng mọi nhu cầu lành sạch cho qúy khách hàng.
        .box-aboutus-btn
          a(href='gioi-thieu.html') xem thêm

  section.product
    .container
      .title-page
        h1 
          a máy VỆ SINH CÔNG NGHIỆP

      .product-zone
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
      .product-all
        a(href='san-pham.html') Xem tất cả sản phẩm

  