extends _inc


block article
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item.active Tin tức

  section.service-page
    .container
      .title-page
        h1 
          a tin tức
      
      .service-zone
        .box-service
          .box-service-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/service-1.png')
          .box-service-detail
            h4 
              a(href='chi-tiet-tin-tuc.html', title="Báo giá đánh bóng sàn bê tông")
                | Báo giá đánh bóng sàn bê tông
            h5 Some quick example text to build on the card title and make up the bulk of the card's content.
            .box-service-detail-btn
              a(href='chi-tiet-tin-tuc.html')
                i.mdi.mdi-chevron-right
          .box-service-order
            a 
              i.mdi.mdi-clock-outline.mr-2
              | 24/04/2019

        .box-service
          .box-service-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/service-1.png')
          .box-service-detail
            h4 
              a(href='chi-tiet-tin-tuc.html', title="Báo giá đánh bóng sàn bê tông")
                | Báo giá đánh bóng sàn bê tông
            h5 Some quick example text to build on the card title and make up the bulk of the card's content.
            .box-service-detail-btn
              a(href='chi-tiet-tin-tuc.html')
                i.mdi.mdi-chevron-right
          .box-service-order
            a 
              i.mdi.mdi-clock-outline.mr-2
              | 24/04/2019
        
        .box-service
          .box-service-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/service-1.png')
          .box-service-detail
            h4 
              a(href='chi-tiet-tin-tuc.html', title="Báo giá đánh bóng sàn bê tông")
                | Báo giá đánh bóng sàn bê tông
            h5 Some quick example text to build on the card title and make up the bulk of the card's content.
            .box-service-detail-btn
              a(href='chi-tiet-tin-tuc.html')
                i.mdi.mdi-chevron-right
          .box-service-order
            a 
              i.mdi.mdi-clock-outline.mr-2
              | 24/04/2019
        
        .box-service
          .box-service-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/service-1.png')
          .box-service-detail
            h4 
              a(href='chi-tiet-tin-tuc.html', title="Báo giá đánh bóng sàn bê tông")
                | Báo giá đánh bóng sàn bê tông
            h5 Some quick example text to build on the card title and make up the bulk of the card's content.
            .box-service-detail-btn
              a(href='chi-tiet-tin-tuc.html')
                i.mdi.mdi-chevron-right
          .box-service-order
            a 
              i.mdi.mdi-clock-outline.mr-2
              | 24/04/2019
        
        .box-service
          .box-service-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/service-1.png')
          .box-service-detail
            h4 
              a(href='chi-tiet-tin-tuc.html', title="Báo giá đánh bóng sàn bê tông")
                | Báo giá đánh bóng sàn bê tông
            h5 Some quick example text to build on the card title and make up the bulk of the card's content.
            .box-service-detail-btn
              a(href='chi-tiet-tin-tuc.html')
                i.mdi.mdi-chevron-right
          .box-service-order
            a 
              i.mdi.mdi-clock-outline.mr-2
              | 24/04/2019
        
        .box-service
          .box-service-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/service-1.png')
          .box-service-detail
            h4 
              a(href='chi-tiet-tin-tuc.html', title="Báo giá đánh bóng sàn bê tông")
                | Báo giá đánh bóng sàn bê tông
            h5 Some quick example text to build on the card title and make up the bulk of the card's content.
            .box-service-detail-btn
              a(href='chi-tiet-tin-tuc.html')
                i.mdi.mdi-chevron-right
          .box-service-order
            a 
              i.mdi.mdi-clock-outline.mr-2
              | 24/04/2019
        
        .box-service
          .box-service-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/service-1.png')
          .box-service-detail
            h4 
              a(href='chi-tiet-tin-tuc.html', title="Báo giá đánh bóng sàn bê tông")
                | Báo giá đánh bóng sàn bê tông
            h5 Some quick example text to build on the card title and make up the bulk of the card's content.
            .box-service-detail-btn
              a(href='chi-tiet-tin-tuc.html')
                i.mdi.mdi-chevron-right
          .box-service-order
            a 
              i.mdi.mdi-clock-outline.mr-2
              | 24/04/2019
        
        .box-service
          .box-service-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/service-1.png')
          .box-service-detail
            h4 
              a(href='chi-tiet-tin-tuc.html', title="Báo giá đánh bóng sàn bê tông")
                | Báo giá đánh bóng sàn bê tông
            h5 Some quick example text to build on the card title and make up the bulk of the card's content.
            .box-service-detail-btn
              a(href='chi-tiet-tin-tuc.html')
                i.mdi.mdi-chevron-right
          .box-service-order
            a 
              i.mdi.mdi-clock-outline.mr-2
              | 24/04/2019
        
        .box-service
          .box-service-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/service-1.png')
          .box-service-detail
            h4 
              a(href='chi-tiet-tin-tuc.html', title="Báo giá đánh bóng sàn bê tông")
                | Báo giá đánh bóng sàn bê tông
            h5 Some quick example text to build on the card title and make up the bulk of the card's content.
            .box-service-detail-btn
              a(href='chi-tiet-tin-tuc.html')
                i.mdi.mdi-chevron-right
          .box-service-order
            a 
              i.mdi.mdi-clock-outline.mr-2
              | 24/04/2019
        
        
      nav
        ul.pagination.justify-content-end
          li
            a.page-link(href='#', aria-label='Previous')
              span(aria-hidden='true') «
              span.sr-only Previous
          li
            a.page-link.active(href='#') 1
          li
            a.page-link(href='#') 2
          li
            a.page-link(href='#') 3
          li
            a.page-link(href='#', aria-label='Next')
              span(aria-hidden='true') »
              span.sr-only Next 
